.nav-categories {
  display: flex;
  gap: 20px;
  justify-content: center;

  height: 40px;
  margin: auto;
  border-top: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(179, 177, 177);
  width: 1200px;

  align-items: center;
}
